.contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.dados{ 
    padding: 0px;
    list-style-type: none;
}
.dados li{  
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .8rem;
}
.dados li::before{  
    content: '';
    display: inline-block;
    width: 15px;
    height: 3px;
    
    background-color: burlywood;
    margin-right: 10px;
}



@media screen and (min-width:768px) {
    img{    
        width: 60%;
        margin-left: 25%;
    }
    .contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


}