.fundo{ 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('./img/img-cadastro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}